<!DOCTYPE html>
<html>
{% extends 'layout.html' %}

{% block title %}Logs{% endblock %}


{% block content %}
<head>
</head>
<body>
  <p>Lista kanałów na serwerze</p>
  <form action="{{url_for('logs')}}" method="post">
    Token bota (bot token):<input type="text" name="token" placeholder="token" id="token" required>
    <br>
    Id serwera:<input type="text" name="key_api" placeholder="key_api" id="key_api" required>
    <br>
    <input type="submit" value="Wykonaj">
  <form>
    <br>
    Lista botów które maja dostęp do logs:
    <br>
    {% for test in tas %}
    {{test}}
    <br>
    {% endfor %}
    <br>
    Logs:
    <br>
    {% for tests in tas1 %}
    {{tests}}
    <br>
    {% endfor %}

</body>
</html>
{%endblock %}